/* Base Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
}

body {
    background-color: #cad2c5; /* Light gray-green for a soft backdrop */
    color: #333;
    scroll-behavior: smooth;
    font-weight: 300;
}

/* Links */
a {
    text-decoration: none;
    color: #52796f; /* Dark green for links */
    transition: color 0.3s ease;
}

a:hover {
    color: #84a98c; /* Muted green on hover */
}

/* Header */
.header {
    background-color: transparent;
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.header__logo img {
    height: 40px;
    width: auto;
}

.menu {
    list-style: none;
    display: flex;
    gap: 15px;
}

.menu__item {
    margin: 0;
}

/* Enhanced menu link styles with hover effect */
.menu__link {
    font-weight: 300;
    color: #52796f; /* Darker green for menu links */
    text-transform: uppercase;
    transition: color 0.3s ease;
    position: relative; /* Positioning context for pseudo-elements */
    padding: 10px 15px; /* Adjust padding as needed */
    overflow: hidden; /* Ensures the line animation is contained within the link area */
}

.header.scrolled {
    background-color: #52796f; /* Darker solid color when scrolling */
    transition: background-color 0.3s ease;
}

.menu__link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #84a98c; /* Muted green for the hover line */
    transition: width 0.3s ease-in-out;
    transform-origin: left; /* Ensures the line grows from left to right */
}

.menu__link:hover::after {
    width: 100%; /* Full width on hover */
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Hamburger Menu */
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 2000;
}

.hamburger__line {
    width: 100%;
    height: 3px;
    background-color: #52796f; /* Darker green for hamburger */
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Transform to cross when active */
.hamburger.active .hamburger__line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active .hamburger__line:nth-child(2) {
    opacity: 0; /* Hide middle line */
}

.hamburger.active .hamburger__line:nth-child(3) {
    transform: rotate(-45deg) translate(10px, -10px);
}


@media (max-width: 768px) {
    .animated-text {
        opacity: 0; /* Start with text hidden */
        animation: fadeInUp 1s ease-out forwards; /* Animation name, duration, timing function, fill mode */
    }
    .menu {
        position: fixed; /* Fixed position to cover the whole screen */
        top: 0;
        left: 0;
        right: 0; /* Ensures it stretches to the right edge */
        bottom: 0; /* Ensures it stretches to the bottom edge */
        background-color: #cad2c5; /* Background color */
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        display: flex;
        flex-direction: column;
        justify-content: center; /* Center items vertically */
        align-items: center; /* Center items horizontally */
        transform: translateY(-100%); /* Start off-screen */
        opacity: 0;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease;
        z-index: 1000; /* Ensure it's above other content */
    }

    .menu.active {
        visibility: visible; /* Make visible */
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        padding: 10px 10px; /* Add vertical padding */
        transform: translateY(0); /* Slide down into view */
        opacity: 1; /* Fade in to full opacity */
    }

    .menu.active .menu__link {
        font-size: 2em; /* Larger font size */
        color: #f5f5f5; /* Lighter color */
        transition: color 0.1s ease, font-size 0.3s ease;
    }

    .menu__item {
        margin: 10px 0;
        text-align: center;
    }

    .header__logo {
        margin-left: auto;
    }

    /* Display hamburger icon on mobile */
    .hamburger {
        display: flex;
    }
}

.no-scroll {
    overflow: hidden; /* Prevents scrolling */
    position: fixed; /* Keeps the position in place */
    width: 100%; /* Ensures the width remains constant */
    top: 0; /* Aligns to the top */
    left: 0; /* Aligns to the left */
}

/* Section Headings */
h2 {
    font-size: 3rem;
    color: #354f52; /* Strong contrast for section headers */
    text-align: center;
    margin-bottom: 30px;
    font-weight: 400;
}

/* About Section */
.about {
    padding: 60px 20px;
    margin-top: 0;
    background-color: #fff; /* White for clean contrast */
    text-align: left;
}

.about__content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.about__text {
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    gap: 20px;
    animation: fadeInUp 1s ease-out forwards;
}

.about__image {
    max-width: 50%;
    border-radius: 8px;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.about__image:hover {
    filter: grayscale(0);
}

@media (max-width: 768px) {
    .about__content {
        flex-direction: column;
    }

    .about__image {
        max-width: 80%;
    }
}

/* Services Section */
/* Carousel Base */
.carousel {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    background-color: #84a98c;
    padding: 20px;
}

.carousel__track-container {
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}

.carousel__track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
}

/* Ensure each slide is set to a percentage width */
.carousel__slide {
    min-width: 33.33%; /* Show 3 slides on desktop */
    text-align: center;
    flex-shrink: 0;
}

.carousel__image {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.carousel__text {
    color: #fff;
    font-weight: 300;
}

/* Pagination Dots */
.carousel__nav {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.carousel__indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #cad2c5;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.carousel__indicator.current-slide {
    background-color: #52796f; /* Darker green for active dot */
}

.carousel__indicator:hover {
    background-color: #354f52;
}

/* Make carousel responsive */
@media (max-width: 768px) {
    .carousel__slide {
        min-width: 100%; /* Show 1 slide at a time on mobile */
    }
}


/* Make carousel responsive */
@media (max-width: 768px) {
    .carousel__image {
        width: 80px;
    }

    .carousel__text {
        font-size: 0.9rem;
    }
}


/* Contact Section */
.contact {
    padding: 60px 20px;
    background-color: #fff; /* White for simplicity */
}

.contact__form {
    display: flex;
    flex-direction: column;
}

.contact__input,
.contact__textarea {
    margin-bottom: 10px;
    padding: 12px;
    border: 1px solid #84a98c;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 300;
}

.contact__input:focus,
.contact__textarea:focus {
    border-color: #52796f; /* Darker green on focus */
}

.contact__button {
    padding: 12px;
    background-color: #52796f;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact__button:hover {
    background-color: #354f52; /* Darker accent color on hover */
}

/* Footer */
.footer {
    text-align: center;
    padding: 20px;
    background-color: #52796f;
    color: white;
    font-weight: 300;
}
